.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.main_div{
    width: 60rem;
    height: 80rem;
    margin: auto;
    background : #9BB2DD;
    background : rgba(155, 178, 221, 1);
    border-style : Solid;
    border-color : #231F20;
    border-color : rgba(35, 31, 32, 1);
    border-width : 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.info{
    text-align: center;
 
}
h1{
    
    font-family : Futura Md BT;
    font-size : 60px;
    color : #231F20;
    color : rgb(35, 31, 32);
}
h2,h3{
    font-family : Futura Bk BT;
    font-size : 30px;
    color : #FFFFFF;
    color : rgb(255, 255, 255);
}